@import 'var';
*{margin:0;padding:0;font-size:$fontSize;}
.clearfixed::after{
    content:'';
    overflow:hidden;
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
}
.container{
    width:1000px;
    min-width:1000px;
    margin:0 auto;
}
ul,li{list-style:none;margin:0;padding:0;}
a{color:#000;text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
::-webkit-scrollbar {width: 6px;height:6px;}
::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
::-webkit-scrollbar-thumb{background: #000;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: red;}
::-webkit-scrollbar-thumb:horizontal:hover{background: red;}

#header{
    .headTop{
        height:30px;background:#f5f2f2;
        span{
            display:block;float:left;line-height:30px;
            a{
                padding:0 20px;border-right:1px solid #000;cursor:pointer;
                &:hover{color:red;}
            }
        }
        .top_left{
            display:none;
            img{display:block;float:left;width:20px;height:20px;margin-top:3px;}           
            span:nth-child(2){                
                a{color:red;padding-left:0;}
            }
            span:last-child{
                a{border-right:0 none;}
            }
        }
        .top_leftlogin{
            display:none;
            .ledger{
                float:left;position:relative;cursor:pointer;
                span:first-child{color:$normalColor;}
                .ledgerlist{
                    width: 221px;height:163px;overflow: hidden;box-shadow: 0 2px 4px #999;background-color: #fff;position: absolute;left: -23px;top: 30px;z-index: 99;border: 1px solid #e7e7e7;
                    p{
                        line-height:16px;padding-left:5px;border-bottom:1px solid #e7e7e7;
                        .nameIn{color:$normalColor;margin-left:10px;}
                    }
                    li{
                        float:left;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;
                        &:nth-child(1){
                            a{
                                background:url("/css/img/icon_order.gif") no-repeat 28px 15px;
                            }
                            a:hover{
                                background:url("/css/img/icon_order_hover.gif") no-repeat 28px 15px;
                            }
                        }
                        &:nth-child(2){
                            a{
                                background:url("/css/img/icon_comment.gif") no-repeat 32px 15px;
                            }
                            a:hover{
                                background:url("/css/img/icon_comment_hover.gif") no-repeat 32px 15px;
                            }
                        }
                        &:nth-child(3){
                            border-right:0 none;
                            a{
                                background:url("/css/img/icon_coupon.gif") no-repeat 26px 15px;
                            }
                            a:hover{
                                background:url("/css/img/icon_coupon_hover.gif") no-repeat 26px 15px;
                            }
                        }
                        &:nth-child(4){
                            a{
                                background:url("/css/img/icon_information.gif") no-repeat 28px 15px;
                            }
                            a:hover{
                                background:url("/css/img/icon_information_hover.gif") no-repeat 28px 15px;
                            }
                        }
                        &:nth-child(5){
                            a{
                                background:url("/css/img/icon_address.gif") no-repeat 28px 15px;
                            }
                            a:hover{
                                background:url("/css/img/icon_address_hover.gif") no-repeat 28px 15px;
                            }
                        }
                        &:nth-child(6){
                            border-right:0 none;
                            a{
                                background:url("/css/img/icon_password.gif") no-repeat 30px 15px;
                            }
                            a:hover{
                                background:url("/css/img/icon_password_hover.gif") no-repeat 30px 15px;
                            }
                        }
                        a{
                            display:block;width:73px;height:73px;text-align:center;line-height:110px;
                        }
                        a:hover{color:$normalColor;}
                    }
                }
            }
            span:last-child{
                a{border-right:0 none;}
            }
        }
        .top_right{
            height:30px;position:relative;
            span:nth-child(3){
                a{border-right:0 none;margin-left:20px;margin-top:3px;padding:0;display:block;width:25px;height:23px;background:url("/img/set.fw.png")}
            }
            .topCode{
                display:block;position:absolute;left:85px;top:30px;width:100px;height:120px;box-shadow: 0 2px 4px #999;z-index:2;display:none;background:#fff;
                padding:7px;
                img{display:block;width:100px;height:100px;}
                p{text-align:center;}
            }
        }
        .LY_chat{
            display: none;
            border:1px solid red;
            width:40px;
            height:40px;
            background:black;
        }
    }
    .headLogo{
        a{display:inline-block;width:200px;height:90px;background:url("/img/set.fw.png") 0 -80px;}
        img{display:inline-block;margin-bottom:16px;}
    }
    .headNav{
        height:42px;background:#000;width:100%;
        .navList{
            float:left;
            li{
                float:left;width:80px;position:relative;
                a{font-size:$fontSize1;color:#fff;display:block;line-height:42px;z-index:1;}
                a.active{color:red;}
                img{position:absolute;right:20px;top:0;}
                .navmenu{
                    width:630px;box-shadow: 0 1px 6px #999;background:#fff;display:none;position:absolute;left:0;top:42px;z-index:1;
                    .menu_up{
                        width:274px;border-right:1px dotted #ccc;padding:20px;
                        p:first-child{font-size:$fontSize1;color:#000;font-weight:bold;border-bottom:1px solid #ccc;padding-bottom:15px;}
                        ul{
                            li{
                                height:20px;margin:8px 0;float:none;width:100%;
                                a{color:rgb(102, 102, 102);width:100%;font-size:$fontSize;height:100%;line-height:20px;}
                                a:hover{color:red;}
                            }
                            li:last-child{margin-bottom:10px;}
                        }
                        a{color:#000;display:block;float:right;font-size:$fontSize;height:14px;}
                        a:hover{color:red;}
                    }
                    .lastmenu{
                        border-right:0 none;
                    }
                }
                .lastnavmenu{
                    width:314px;
                }
            }
        }
        .carList{
            float:right;position:relative;padding-left:60px;
            .carqty{background:url("/img/carlist222.png") no-repeat;font-size:10px;color:#fff;display:block;width:23px;height:22px;position:absolute;left:10px;top:7px;line-height:26px;text-align:center;cursor:pointer;}
            .cartotal{font-size:$fontSize1;color:#fff;line-height:42px;padding-left:15px;border-left:2px solid #fff;}
            .listtable{
                position:absolute;right:0;top:42px;border:1px solid #ccc;width:240px;border-top:0 none;padding:15px 0 15px 20px;z-index:98;background:#fff;max-height:360px;min-height:60px;height:auto;
                ul{
                    background:#fff;max-height:300px;overflow-y:auto;
                    
                    li{
                        position:relative;border-bottom:1px solid #ddd;padding-bottom:10px;margin-top:5px;background:#fff;height:69px;
                        .imglink{
                            display:block;float:left;margin-right:10px;border:1px solid #ddd;
                            img{display:block;width:50px;}
                        }
                        p{
                            line-height:22px;overflow:hidden;width:130px;white-space:nowrap;text-overflow:ellipsis;
                            .listqty{padding-right:3px;}
                            .listsale{padding-left:3px;}
                        }
                        a:hover{color:$normalColor;}
                        .removebtn{
                            position:absolute;right:24px;bottom:10px;cursor:pointer;
                            &:hover{color:$normalColor;}
                        }
                    }
                    
                }
                .carlisttotal{
                    padding:10px;text-align:right;
                }
                .paybtn{display:block;width:100px;height:28px;color:#fff;background:$normalColor;text-align:center;line-height:28px;margin-left:67px;cursor:pointer;}
                .covercarlist{width:250px;height:80px;background:#fff;line-height:60px;text-align:center;z-index:-99;position:absolute;left:0;top:0;}
            }
        }
    }
    .headNav.fixTop{
        position:fixed;top:0;z-index:99;
    }
}
#footer{
    height:235px;width:100%;background:#f2f2f2;padding-top:30px;position:relative;
    ul{
        margin-bottom:25px;
        li{
            float:left;
            a{
                display:block;width:165px;height:60px;border-right:1px solid #615e5e;text-align:center;font-size:$fontSize1;position:relative;
                span{display:block;width:60px;height:40px;background-image:url("/img/set.fw.png");
                margin-left:52px;}
                p{position:absolute;left:0;bottom:7px;width:100%;text-align:center;}
            }
        }
        li:last-child{
            a{border:0 none;}
        }
    }
    p{
        text-align:center;
        a{margin:0 14px;font-size:$fontSize;}
        a:hover{color:#db2726;}
    }
    p.lastP{
        line-height:50px;
    }
    .footerlastPic{
        display:block;width:35px;height:36px;position:absolute;left:50%;margin-left:-18px;bottom:45px;background:url("/css/img/icon_badge.png");
    }
}