@import 'var';
#main{
    margin:0 auto;width:1000px;overflow:hidden;padding-top:25px;
    .content{width:1020px;}
    li{
        width:320px;height:232px;float:left;margin-bottom:20px;margin-right:20px;background:#f2f2f2;position:relative;
        .imgBox{
            width:320px;height:192px;overflow:hidden;position:relative;
            img{width:320px;display:block;position:absolute;}
            .shade{width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,.5);line-height:192px;text-align:center;color:#fff;display:none;}
        }           
        p{
            height:40px;padding-left:5px;
            span:first-child{display:block;float:left;width:180px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:40px;}
            span:last-child{color:red;display:block;float:right;line-height:40px;font-size:$fontSize1;margin-right:5px;}
        }           
    }
    li.outSeagoods{
            p{
                height:40px;padding-left:5px;
                span:first-child{display:block;background:url("img/event_label.png");width:56px;height:18px;line-height:18px;margin-top:11px;color:#fff;padding-left:3px;}
                span:nth-child(2){display:block;float:left;width:180px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:40px;}
            }
        }
    h3{font-size:24px;margin-bottom:8px;font-weight:normal;}
    .neweventlist{   
        .neweventTop{
            width:1000px;height:27px;position:relative;margin-top:20px;
            .weeklist{
                float:left;
                span{text-align:center;display:block;float:left;border-right:1px solid #000;width:89px;cursor:pointer;font-size:$fontSize1;}
                span:first-child{border-left:1px solid #000;}
            }
            div:nth-child(2){
                float:right;font-size:$fontSize1;
                .newtime{color:red;font-size:24px;font-family:"宋体";margin:0 2px 2px 0;}
            }
            .borderline{width:91px;height:4px;background:#000;position:absolute;left:0;bottom:0;}
        }
        .weekevents{
            width:1000px;position:relative;margin-top:10px;
            .weekevent{
                width:1020px;height:auto;position:absolute;left:0;top:0;display:none;
                li{
                    width:318px;height:88px;border:1px solid #e7e7e7;background:#f2f2f2;float:left;margin-right:20px;margin-bottom:20px;position:relative;overflow:hidden;
                    img{
                        display:block;float:left;width:150px;
                    }
                    .eventright{
                        float:left;width:158px;height:78px;padding:5px;
                        p{
                            line-height:18px;
                        }
                        p:last-child{
                            font-size:$fontSize;line-height:46px;color:$normalColor;
                            span{font-size:20px;display:inline-block;width:auto;float:left;}
                        }
                    }
                    .eventcover{
                        width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,.7);display:none;
                        .eventcenter{
                            display:inline-block;width:100px;height:20px;background:$normalColor;position:absolute;left:50%;top:50%;margin-left:-60px;margin-top:-15px;padding:5px 10px;
                            a{font-size:$fontSize1;color:#fff;}
                            a:hover{text-decoration:underline;}
                            a:first-child{padding-right:18px;border-right:2px solid #fff;}
                            a:last-child{padding-left:18px;}
                        }
                    }
                }
            }
        }
    }
}